{
    "editor.fontFamily": "'JetBrainsMono Nerd Font', 'monospace'",
    "editor.fontSize": 13,
    "editor.fontLigatures": true,
    "editor.formatOnSave": true,
    "editor.rulers": [100],
    "editor.minimap.enabled": false,
    "editor.cursorSmoothCaretAnimation": "on",
    "editor.smoothScrolling": true,
    "editor.bracketPairColorization.enabled": true,

    "workbench.colorTheme": "Catppuccin Mocha",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.startupEditor": "none",

    "terminal.integrated.fontFamily": "'JetBrainsMono Nerd Font'",
    "terminal.integrated.defaultProfile.linux": "zsh",

    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "files.autoSave": "onFocusChange",

    "git.autofetch": true,
    "git.confirmSync": false,

    "explorer.confirmDelete": false,
    "extensions.ignoreRecommendations": false
}
